---
import Social from './social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
  }
</style>

<h2>My social link: </h2>
<footer>
  <Social platform="instagram" username="tchelowek" />
  <Social platform="github" username="tchelowek" />
</footer>