---
import '../styles/global.css';
import Footer from '../components/footer.astro';

const { frontmatter } = Astro.props;
const tag=[];
---
<h1>{frontmatter.title}</h1>

<p>Written by {frontmatter.author}</p>
<p>Published: {frontmatter.pubDate.toString().slice(0,10)}</p>
<p>{frontmatter.description}</p>

<ul>
    {frontmatter.tags.map((tag) => <li class="tags">{tag}</li>)}
</ul>

<slot />

<Footer/>